<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- This div and script must go after the opening <body> tag. -->
<!-- See http://login.amazon.com/website. -->
<div id="amazon-root"></div>
<script type="text/javascript">
  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId('{{clientId}}');
  };
  (function(d) {
    var a = d.createElement('script'); a.type = 'text/javascript';
    a.async = true; a.id = 'amazon-login-sdk';
    a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
    d.getElementById('amazon-root').appendChild(a);
  })(document);
</script>

<!-- The LWA button. -->
<a href="#" id="LoginWithAmazon">
    <img border="0" alt="Login with Amazon"
         src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
         width="156" height="32"/>
</a>

<!-- This must go after the LWA button. -->
<!-- See http://login.amazon.com/website. -->
<script type="text/javascript">
  document.getElementById('LoginWithAmazon').onclick = function() {
    var options = { scope : ['postal_code', 'profile'] };
    amazon.Login.authorize(options, '{{redirectUri}}');
    return false;
  };
</script>

</body>
</html>
