<table class="request-table" border="1">
    <tr>
        <td>Method</td>
        <td>{{request.method}}</td>
    </tr>

    <tr>
        <td>Target</td>
        <td>{{request.target}}</td>
    </tr>

    <tr>
        <td>Query parameters</td>
        <td>{{> helpers/map2Table request.queryParameters}}</td>
    </tr>

    <tr>
        <td>Headers</td>
        <td>{{> helpers/map2Table request.headers}}</td>
    </tr>

    <tr>
        <td>Body</td>
        <td style="white-space: pre-wrap">{{request.body}}</td>
    </tr>
</table>
