<table class="response-table" border="1">
    <tr>
        <td>Status</td>
        <td>{{response.status}}</td>
    </tr>

    <tr>
        <td>Headers</td>
        <td>{{> helpers/map2Table response.headers}}</td>
    </tr>

    <tr>
        <td>Body</td>
        <td style="white-space: pre-wrap">{{response.body}}</td>
    </tr>
</table>
